{% if todo_list %}
  <ul>
    {% for todo in todo_list %}
      <li>
        <form action="{% url 'todo:modify_db' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Done">
          <a href="{% url 'todo:detail' todo.id %}">{{ todo.todo_text }}</a>
          <input type="hidden" name="todo_id" value="{{ todo.id }}">
          <input type="hidden" name="db_action" value="delete">
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No todos are available.</p>
{% endif %}
<a href="{% url "todo:add" %}">Add ToDo</a>