{% extends 'todo/base.html' %}
{% block content %}
{% if todo_list %}
  <ul class="list-group list-group-flush">
    {% for todo in todo_list %}
      <li class="list-group-item">
        <form action="{% url 'todo:modify_db' %}" method="POST">
          {% csrf_token %}
          {% comment %} <input type="submit" value="Done"><i class="bi bi-check-square"></i> {% endcomment %}
          <button type="submit" class="btn bg-transparent btn-outline-dark">
            <i class="bi bi-check"></i>
          </button>
          <a href="{% url 'todo:detail' todo.id %}">{{ todo.todo_text }}</a>
          <input type="hidden" name="todo_id" value="{{ todo.id }}">
          <input type="hidden" name="db_action" value="delete">
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No todos are available.</p>
{% endif %}
<a href="{% url "todo:add" %}" class="btn btn-outline-dark">Add ToDo</a>
{% endblock %}